.game{
    border:1px solid;
    display: flex;
    padding:10px;
    justify-content: center;

}
.tower-area{
  width: 300px;
  height: 300px;
  border:1px red solid;
  margin:0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tower{
    width: 20px;
    height: 150px;
    background: gray;
}

.disk1{
    width: 100px;
    height: 20px;
    background: red;
    margin-left: -40px;
    /* margin-top: 130px; */
    cursor: pointer;
}
.disk2{
    width: 80px;
    height: 20px;
    background: green;
    margin-left: -30px;
    /* margin-top: -40px; */
    cursor: pointer;
}

.disk3{
    width: 60px;
    height: 20px; 
    background: rebeccapurple;
    margin-left: -20px;
    /* margin-top: -40px; */
    cursor: pointer;
}

#result{
    text-align: center;
}